<div>
    <!-- <span text-align:center>{{ title }}</span> -->
    <div class="topBar" fxLayout='row'>
        <div class="quanDiv">
            <b>Quanment</b>
        </div>
        <div class="quanDiv">
            History
        </div>
    </div>
    <app-headers></app-headers>
    <div class="appBody">
        <div>
            <!-- <app-choose-type></app-choose-type> -->
            <app-test></app-test>
        </div>
        <app-conversion></app-conversion>
        <!-- <app-test></app-test> -->
    </div>

</div>
<router-outlet></router-outlet>