<div>
    <div class="boxFromTo" fxLayout="row" fxLayout.xs="column" fxFlex.sm=80 fxLayoutAlign.xs="end center">
        <div class="fromdiv">
            <p>FROM</p>
            <div class="condata">
                <form>
                    <input type="text" name="inputUnit" [(ngModel)]="inputUnit"
                        (keypress)="keyPress($event,unit,subUnit)">
                </form>
                <form class="example-form">
                    <input type="text" placeholder="{{units[0]}}" name="unit" [(ngModel)]="unit" [formControl]="control"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)='passConversionData($event.option.value,subUnit,inputValue)'>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                            {{unit}}

                        </mat-option>
                    </mat-autocomplete>
                </form>
            </div>
        </div>
        <div class="fromdiv">
            <p>TO</p>
            <div class="condata">
                <form>
                    <input type="text" value={{dataa}}>
                </form>
                <form class="example-form">
                    <input type="text" placeholder="{{units[0]}}" name="subUnit" [(ngModel)]="subUnit"
                        [formControl]="control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)='passConversionData(unit,$event.option.value,inputValue)'>
                        <mat-option *ngFor="let subUnit of units" [value]="subUnit">
                            {{subUnit}}
                        </mat-option>
                    </mat-autocomplete>
                </form>
            </div>
        </div>
    </div>
</div>