<div style="height: 200px; margin-top: 20px; padding-top: 20px">
  <div
    class="boxFromTo"
    fxLayout.xs="column"
    fxFlex.xs="100"
    fxLayoutAlign.xs="end center"
    fxLayoutAlign.xs="end center"
    fxLayoutGap.xs="20px"
  >
    <div class="fromdiv">
      <p>FROM</p>
      <div class="condata">
        <form>
          <input
            type="text"
            name="inputUnit"
            [(ngModel)]="inputUnit"
            (input)="keyPress(inputUnit)"
          />
        </form>
        <form class="example-form">
          <input
            type="text"
            name="unit"
            [formControl]="unit"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="
              passConversionData($event.option.value, subUnit, inputValue)
            "
          >
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </div>
    <div class="fromdiv">
      <p>TO</p>
      <div class="condata">
        <form>
          <input
            type="text"
            name="dataa"
            value="{{ dataa }}"
            [(ngModel)]="dataa"
          />
        </form>
        <form class="example-form">
          <input
            type="text"
            name="subUnit"
            [formControl]="subUnit"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="
              passConversionData(unit, $event.option.value, inputValue)
            "
          >
            <mat-option *ngFor="let subUnit of units" [value]="subUnit">
              {{ subUnit }}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </div>
  </div>
</div>
